PORT=8000
DB_HOST=ep-curly-cloud-a5v7jfws-pooler.us-east-2.aws.neon.tech
DB_USERNAME=neondb_owner
DB_PASSWORD=npg_ucpXhKkv5E2s
DB_PORT=5432
DB_DATABASE=neondb
INFURA_URL=https://sepolia.infura.io/v3/18614d8b7e534f2c80315ca7334420c1
CONTRACT_ADDRESS=0x042ecb8d07A72C2b044FFa405642Dd72253Ac40c


ADMIN_NAME = hydrosat
ADMIN_PASSWORD = hydrosat

JWT_SECRET = hydrosat

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL= postgresql://neondb_owner:npg_ucpXhKkv5E2s@ep-curly-cloud-a5v7jfws-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require